<!DOCTYPE HTML>
<html>
    <head>
        <title>Simple Phone</title>
        <link rel="shortcut icon" type="image/png" href="favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="goPhone.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
        <script>
            var lPass = "", rPass = "";
            var WS = function () {
                var nws = new WebSocket("ws://" + window.location.host + "/ws-phone");
                nws.onmessage( function(msg) {
                    obj = JSON.parse(msg.data);

                });
                return nws;
            };
            var ws = WS();
            setInterval( function() {
                if (rPass == lPass) {
                    
                } else {

                }
            });
        </script>
    </body>
</html>